<!-- templates/crear_entrega.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Hacer Entrega{% endblock %}

{% block content %}
<div class="container-fluid">
<br><br><br>
<h2>Hacer una nueva entrega</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="text-primary" for="{{ form.insumo.id_for_label }}">{{ form.insumo.label }}</label>
        {{ form.insumo }}
    </div>
    <div class="form-group">
        <label class="text-primary" for="{{ form.cantidad_entregada.id_for_label }}">{{ form.cantidad_entregada.label }}</label>
        {{ form.cantidad_entregada }}
    </div>
    <div class="form-group">
        <label class="text-primary" for="{{ form.fecha_entrega.id_for_label }}">{{ form.fecha_entrega.label }}</label>
        {{ form.fecha_entrega }}
    </div>
    <div class="form-group">
        <label class="text-primary" for="{{ form.usuario.id_for_label }}">{{ form.usuario.label }}</label>
        {{ form.usuario }}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
<script>
    $('select').select2({
        placeholder: "ingrese la busqueda"
    });
</script>
{% endblock %}
