{% extends 'base.html' %}
{% load static %}

{% block title %}Devoluciones{% endblock %}

{% block content %}
<div class="container-fluid">
<br><br><br>
<h2 class="text-primary">Listado de Entregas</h2>

<!-- Dropdown para seleccionar el usuario -->
<form method="get">
    <label for="usuario" class="text-primary">Selecciona un usuario:   </label>
    <select class="form-select" name="usuario" id="usuario" onchange="this.form.submit()">
        <option value="">-- Seleccionar usuario --</option>
        {% for usuario in usuarios %}
            <option value="{{ usuario.id }}" {% if usuario_seleccionado == usuario.id|stringformat:"s" %}selected{% endif %}>
                {{ usuario.username }}
            </option>
        {% endfor %}
    </select>
</form>

<!-- Lista de entregas del usuario seleccionado -->
<br>
<ul class="list-group list-group-flush">
    {% if usuario_seleccionado %}
        {% for entrega in entregas %}
            <li class="list-group-item text-light">
                {{ entrega.cantidad_entregada }} de {{ entrega.insumo.nombre }} - {{ entrega.fecha_entrega }} -&nbsp; 
                <a class=" btn btn-info" href="{% url 'registrar_devolucion' entrega.id %}">Devolver</a>
            </li>
        {% empty %}
            <li class="text-primary list-group-item">No hay entregas registradas para este usuario.</li>
        {% endfor %}
    {% else %}
        <li class="text-primary list-group-item">Por favor, selecciona un usuario para ver sus entregas.</li>
    {% endif %}
</ul>
</div>
{% endblock %}