{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h2 class="text-primary">Insumos con Cantidad en 0</h2>
    <ul class="list-group list-group-flush">
        {% for insumo in insumos %}
            <li class="text-primary list-group-item">{{ insumo.nombre }} - Cantidad: {{ insumo.cantidad }}</li>
        {% empty %}
            <li class="text-primary list-group-item">No hay insumos con cantidad 0.</li>
        {% endfor %}
    </ul>

    <h2 class="text-primary">Entregas Sin Confirmar</h2>
    <ul class="list-group list-group-flush">
        {% for entrega in entregas %}
            <li class="text-primary list-group-item d-flex justify-content-between align-items-center">
                <span>
                {{ entrega.insumo.nombre }} - Entregado a: {{ entrega.usuario.username }} el {{ entrega.fecha_entrega }} cantidad: {{ entrega.cantidad_entregada }}
                </span>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'reenviar_confirmacion' entrega.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-sm">Reenviar Confirmación</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <li class="text-primary list-group-item">No hay entregas sin confirmar.</li>
        {% endfor %}
    </ul>

    <!-- Mostrar mensajes -->
    {% if messages %}
        <h2>Mensajes</h2>
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
