{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="table-responsive ">
        <h2 class="card-title">Insumos con Cantidad en 0</h2>
        <table  id="tablaInsumnos0" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-primary">Nombre </th>
                    <th class="text-primary">Cantidad </th>
                </tr>
            </thead>
            <tbody>
                {% for insumo in insumos %}
                    <tr>
                        <td>{{ insumo.nombre }}</td>
                        <td>{{ insumo.cantidad }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No hay insumos con cantidad 0.</td>
                    </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="table-responsive">
        <h2 class="card-title">Entregas Sin Confirmar</h2>
        <table id="EntregasSinconfirmar" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-primary">Insumo </th>
                    <th class="text-primary">Entregado a </th>
                    <th class="text-primary">Fecha</th>
                    <th class="text-primary">cantidad</th>
                    {% if user.is_authenticated %}
                        <th class="text-primary">Reenvio</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entrega in entregas %}
                <tr>
                    <td>{{ entrega.insumo.nombre }}</td>
                    <td>{{ entrega.usuario.username }}</td>
                    <td>{{ entrega.fecha_entrega }}</td>
                    <td>{{ entrega.cantidad_entregada }}</td>
                    {% if user.is_authenticated %}
                    <td><form method="POST" action="{% url 'reenviar_confirmacion' entrega.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-sm">Reenviar Confirmación</button>
                    </form></td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                        <td colspan="4" align="center">No hay entregas sin confirmar.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Mostrar mensajes -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<script>
    $(document).ready(function() {
        $('#tablaInsumnos0').DataTable();
        $('#EntregasSinconfirmar').DataTable();
    });
</script>
{% endblock %}
