{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <br>
    <br>
    <h2 class="text-primary">Insumos con Cantidad en 0</h2>
    <ul>
        {% for insumo in insumos %}
            <li class="text-primary">{{ insumo.nombre }} - Cantidad: {{ insumo.cantidad }}</li>
        {% empty %}
            <li class="text-primary">No hay insumos con cantidad 0.</li>
        {% endfor %}
    </ul>

    <h2 class="text-primary">Entregas Sin Confirmar</h2>
    <ul>
        {% for entrega in entregas %}
            <li class="text-primary">{{ entrega.insumo.nombre }} - Entregado a: {{ entrega.usuario.username }} el {{ entrega.fecha_entrega }}</li>
        {% empty %}
            <li class="text-primary">No hay entregas sin confirmar.</li>
        {% endfor %}
    </ul>

    <!-- Mostrar mensajes -->
    {% if messages %}
        <h2>Mensajes</h2>
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
